@model IEnumerable<CineSaltoDeFe.Models.sucursal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.suc_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suc_provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suc_telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suc_direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.suc_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suc_provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suc_telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suc_direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.suc_idSucursal }) |
            @Html.ActionLink("Details", "Details", new { id=item.suc_idSucursal }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.suc_idSucursal })
        </td>
    </tr>
}

</table>
