@model IEnumerable<CineSaltoDeFe.Models.pelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pel_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pel_clasificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pel_idioma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pel_detalle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pel_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pel_clasificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pel_idioma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pel_detalle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pel_idPel }) |
            @Html.ActionLink("Details", "Details", new { id=item.pel_idPel }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pel_idPel })
        </td>
    </tr>
}

</table>
